<div>
    <h3>Bienvenido/a</h3>
    <p>Usuario: {{user.user.first_name}} {{user.user.last_name}}</p>
    <p>Role: {{user.user.role}}</p>
</div>

<h1>Productos</h1>
<table id="main" role="grid">
    <tr>
        <th>Code</th>
        <th>ID de producto</th>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th></th>
    </tr>
    {{#each payload}}
    <tr>
        <td>{{this.code}}</td>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.category}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td>
            <button id="add-cart" role="button" onclick="handleClick('{{this._id}}')">Agregar</button>
        </td>
    </tr>
    {{/each}}
</table>

<p>Página actual: {{page}}</p>

<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Siguiente</a>
<a href="http://localhost:8080/api/carts/b3346053-1f9f-4cd7-9570-cc590540c221" role="button">Ir al carrito</a>
<a href="http://localhost:8080/auth/logout" role="button">logout</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>